@import "variables";

@mixin code {
    border-radius: 10px;
    margin: 20px 0;
    overflow: auto;

    & > * {
        margin: 0;
    }

    code {
        display: block;
        padding: 1em 1.5em;
    }
}

.code.light {
    @import "../../node_modules/highlight.js/scss/idea";
    @include code;

    code.hljs {
        background-color: #f6f6f6;
    }
}

.code.dark {
    @import "../../node_modules/highlight.js/scss/androidstudio";
    @include code;
}
