body {
    --primary: rgb(0, 40, 120);
    --secondary: rgb(255, 110, 1);

    font-family: "Times New Roman", sans-serif;
    background-color: rgb(128, 128, 128);
    color: rgb(56, 67, 71);
}
a {
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}
ul {
    padding-inline-start: 4mm;
}
.page {
    --section-padding: 5mm;

    box-shadow: 0 0 10px rgb(50, 50, 50);
    position: relative;
    background-color: white;
    margin: 30px auto;
    box-sizing: border-box;
    width: 210mm;
    height: 297mm;
    padding: 16mm;
    font-size: 3.6mm;
}
header {
    display: flex;
    animation: fadeIn 3s ease;
}
.profile {
    width: 35mm;
}
.profile img {
    width: 100%;
    border-radius: 50%;
}
header h1 {
    color: var(--primary);
    font-size: 10mm;
    font-weight: 700;
}
header h2 {
    color: var(--secondary);
    font-size: 5.8mm;
}
header .pitch {
    margin-top: 3mm;
    font-size: 4.5mm;
    font-weight: 700;
    color: var(--primary);
}
header .contact {
    align-self: flex-end;
    margin-top: 3mm;
    font-size: 3.3mm;
}
header .contact i {
    color: var(--secondary);
}
main,
footer {
    margin: 0 calc(-1 * var(--section-padding));
}
main {
    display: flex;
}
main > div:first-child {
    flex: 1;
}
main > div:last-child {
    width: 40%;
}
section {
    padding: var(--section-padding);
}
section h2 {
    font-size: 6.5mm;
    text-transform: uppercase;
    color: var(--primary);
    border-bottom: 0.7mm solid var(--primary);
}
article {
    padding-top: var(--section-padding);
}
article > *:not(:first-child) {
    margin-top: 0.7mm;
}
article h3 {
    font-weight: lighter;
    font-size: 5.7mm;
    color: var(--primary);
}
article h4 {
    font-size: 4mm;
    color: var(--secondary);
}
article .period {
    font-size: 3mm;
}
article.books ul {
    list-style: none;
    padding-inline-start: 0;
}
article.books ul li:not(:first-child) {
    margin-top: 2mm;
}
article.books q {
    font-style: italic;
}
article.books q:before,
article.books q:after {
    content: "";
}
article.tools {
    padding-top: 3mm;
}
article.tools span {
    padding: 1mm;
    margin-top: 0;
    border-bottom: 0.2mm solid #a9a9a9;
    display: inline-block;
}
article.projects > * {
    display: block;
}
article.projects > *:not(:first-child) {
    margin-top: 2mm;
}
article.interests {
    display: flex;
    flex-wrap: wrap;
}
article.interests > * {
    flex-basis: 45%;
    flex-grow: 1;
}
article.interests i {
    color: var(--secondary);
}
.actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5mm;
    font-size: 5mm;
}
.actions > * {
    padding: 2mm;
    cursor: pointer;
    color: rgba(56, 67, 71, 0.3);
    transition: color 0.1s linear;
}
.actions > *:hover {
    cursor: pointer;
    color: rgba(56, 67, 71, 1);
}
